@model List<PMS.Entities.ProductDTO>

@{
    ViewBag.Title = "ShowAll";
    Layout = "~/Views/Shared/_MyProductLayout.cshtml";
    TempData["edit"] = true;
}

<style>
     body {
                background-image:url("/UploadedFiles/4.jpg");
                background-repeat: no-repeat;
                background-size: 1500px 2000px;
               
            }
</style>
@section scripts{

    <script>
        $(function () {
            $(".editbutton").click(function () {
                var pid = $(this).attr("pid");
                $("#ProductID").val(pid);
            });
        });
    </script>

}


<h2 style="font-family:'Comic Sans MS'">Products</h2>

<body>
    <a href="/Product/New">New </a> <br />

    <span style="color:red">@TempData["Msg"]</span>

   
        <input type="hidden" name="ProductID" id="ProductID" />

        <div>
            @foreach (var item in Model)
            {
                <div class="prodbox">
                    <div style="float:left">
                        <img src="/UploadedFiles/@item.PictureName" style="width:100px;height:100px;" />
                    </div>
                    <div style="float:left; background-color:wheat">
                        Product Id: @item.ProductID <br />
                        Name: @item.Name <br />
                        Price: @item.Price <br />
                        Created On @item.CreatedOn <b>By</b> @item.userName
                    </div>
                    <div style="clear:both">
                        @if (WebPrac.Security.SessionManager.User.IsAdmin)
                        {
                            <a href='@Url.Content("~/Product/Edit/" + @item.ProductID)'>Edit</a>
                            <a href='@Url.Content("~/Product/Delete/" + @item.ProductID)' onclick="return confirm('Are you sure you want to delete?');">Delete</a>
                            
                        }
                        else if (WebPrac.Security.SessionManager.User.UserID == @item.CreatedBy)
                        {
                            <a href='@Url.Content("~/Product/Edit2/" + @item.ProductID)'>Edit</a>
                            <a href='@Url.Content("~/Product/Delete/" + @item.ProductID)' onclick="return confirm('Are you sure you want to delete?');">Delete</a>
                           
                        }
                    </div>
                    <form action="~/Product/SaveComment/" method="post">
                        <div class="commentarea">
                            <input type="text" name="txtComment" id="txtComment" />
                            <input type="submit" name="btn" value="Add" class="addcomment" id="btn" />
                            <input type="hidden" name="productId" id="productId" value= @item.ProductID />
                        </div>
                        </form>
                        <br />
                        <div class="comment">
                        <form >
                            @foreach (var comment in item.Comments)
                            {
                                <div class="comment">
                                    <div class="picture">
                                        <img src='@Url.Content("~/UploadedFiles/" + comment.PictureName)' style="width:100px;height:100px; margin:4px 280px" />
                                    </div>
                                    <div>
                                        <span class="name"><b>Commented By: </b><a target="_blank" href='@Url.Action("Profile", "Home", new { pic = @comment.PictureName })'>@comment.UserName</a></span><br>           
                                        <span class="comment-text">@comment.CommentText</span> <br />
                                        <span class="comment-text">@comment.CommentOn</span>

                                    </div>
                                </div>
                                <br />
                                <div style="clear:both"></div>
                                            }
                        </form>
                           
                        </div>
</div>
            }
        </div>
    

</body>
